.filter-part {

  margin: auto;
  display: block;
  width: 1500px;
  margin-top: 20px;
}

.result-lower {
  background-color: #f1f8fb;
  margin-top: 30px;
}

.header-lower-part {
  color: #2b292d;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 26px;
}

.header-dessert {
  margin-top: 32px;
  text-align: center;
  font-size: 40px;
  color: #2b292d;
  text-align: center;
  width: 100%;
}

.dessert-detail {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #2b292d;
  width: 100%;
  margin-bottom: 20px;
}

.container {
  width: 1500px;
}

.search-name {
  width: fit-content;
  margin: auto;
}

.search-name .search-box {
  margin: 15px;
  width: 300px;
}

.no-result {
  width: fit-content;
  margin: auto;
  font-weight: bold;
}
