.avatar-card {
  width: 280px;
  height: 45px;
  overflow: hidden;
}

.avatar-img {
  float: left;
  width: 45px;
  height: 100%;
}

.avatar-pic {
  width: 40px;
  height: 40px;
}

.avatar-detail {
  font-size: 16px;
  float: left;
  width: 220px;
}

.avatar-name {
  color: #2b292d;
}

.avatar-description {
  color: #2b292d;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  height: 1.2em;
  white-space: nowrap;
}
